nav {
    position: fixed;
    top: 0;
    right: 50%;
    background-color: white;
    justify-self: center;
}

h2{
    font-size: 50px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0.5%
}
img{
    height: 500px;
    width: 500px;
    justify-self: right;
}

label{
    font-size: 30px;
}
h1{
    font-size: 100px;
    justify-self: center;
}