nav {
    position: fixed;
    top: 0;
    right: 50%;
    background-color: white;
    justify-self: center;
}

.gyrosGrid {
    display: grid;
    grid-template-columns: auto auto;
}

.title{
    grid-column-start: 1;
    grid-column-end: 2;
}