nav {
    position: fixed;
    top: 0;
    right: 50%;
    background-color: white;
    justify-self: center;
}

.gyrosGrid {
    display: grid;
    grid-template-columns: auto auto;
}

img{
    height: 500px;
    width: 500px;
}

.img{
    justify-self: right;
}